.consent {
    background: rgba(17, 17, 17, 0.8);
	backdrop-filter: blur(10px);
    display: flex;
    width: 100%;
    height: auto;
	line-height: 1.5;
    position: fixed;
    bottom: 0;
    padding: 20px 30px;
	color: #fff;
    font-size: 16px;
    z-index: 8009;
	justify-content: center;
}
.consent p {
	margin: 0;
}
.consent-inner {
	display: flex;
	width: 1200px;
	max-width: 100%;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.consent-content a {
	color: #fff;
	font-weight: 600;
	text-decoration: underline;
}
.consent-content a:hover {
	text-decoration: none;
	color: #fff;
}
.consent-btns {
	width: 204px;
    display: flex;
    gap: 16px;
	flex-shrink: 0;
}
.consent-accept,
.consent-decline {
	border: none;
	padding: 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	flex-shrink: 0;
	cursor: pointer;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.consent-decline {
	background: #fff;
	color: #000;
}
.consent-accept {
	background: #1290c1;
	color: #fff;
}
.consent-accept:hover,
.consent-decline:hover {
	opacity: 0.8;
}
.od-hidden {
	display: none !important;
}

@media only screen and (max-width: 991px) {
	.consent {
		text-align: center;
	}
	.consent-inner {
		flex-direction: column;
	}
}