/* dooble cookies consent
 * By dooble
 * Version: 1.6
 * Last updated: 29/04/2026
 */
#acf-group_cookie_consent {
	direction: rtl;
	text-align: right;
}
#acf-field_cookie_scripts_after_approve {
	direction: ltr;
	text-align: left;
}
.locale-en-us .wrap.acf-settings-wrap h1 {
	direction: rtl;
	text-align: left;
}
.acf-switch+span {
	margin-right: 6px;
}
.acf-switch .acf-switch-slider {
	left: 50%;
	right: 2px;
}
.acf-switch.-on .acf-switch-slider {
	left: 2px;
	right: 50%;
}